<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hstc.edu.cn.mapper.ReportMapper">
    <resultMap type="Report" id="reportResult">
        <result property="reportId" column="reportId"/>
        <result property="reportTitle" column="reportTitle"/>
        <result property="reportSummary" column="reportSummary"/>
        <result property="report" column="report"/>
        <result property="reportImage" column="reportImage"/>
        <result property="reportTime" column="reportTime"/>
        <result property="reportAuthor" column="reportAuthor"/>
    </resultMap>

    <insert id="addReport" parameterType="Report" keyProperty="reportId" useGeneratedKeys="true">
        INSERT report VALUES (NULL,#{reportTitle},#{reportSummary},#{report},#{reportImage},now(),#{reportAuthor})
    </insert>

    <select id="getAllReport" parameterType="Map" resultMap="reportResult">
        SELECT * from report
        <where>
            <if test="reportAuthor!=null and reportAuthor!=''">
                reportAuthor = #{reportAuthor}
            </if>
        </where>
        order by reportTime desc
        <if test="start!=null and pageSize!=null">
            limit #{start},#{pageSize}
        </if>
    </select>

    <select id="getReportTotal" parameterType="Map" resultType="long">
        select count(*) from `report`
        <where>
            <if test="reportAuthor!=null and reportAuthor!=''">
                reportAuthor = #{reportAuthor}
            </if>
        </where>
    </select>

    <select id="getModifyReport" parameterType="int" resultMap="reportResult">
        SELECT * from report WHERE reportId=#{reportId}
    </select>

    <update id="modifyReport" parameterType="Report">
        UPDATE `report` SET reportTitle = #{reportTitle},reportSummary=#{reportSummary},report=#{report},reportImage=#{reportImage},reportTime = now()
        WHERE reportId=#{reportId}
    </update>

    <delete id="deleteReport" parameterType="Integer">
        DELETE FROM report WHERE reportId in
        <foreach collection="array" item="reportId" open="(" separator="," close=")">
            #{reportId}
        </foreach>
    </delete>
    <select id="searchReport" parameterType="Map" resultMap="reportResult">
        SELECT * FROM report
        <where>
            <if test="reportSearch!=null and reportSearch!=''">
                reportTitle LIKE #{reportSearch}
                OR reportSummary LIKE #{reportSearch}
                OR DATE_FORMAT(reportTime,'%Y年%m月%d日') LIKE #{reportSearch}
                OR reportAuthor LIKE #{reportSearch}
            </if>
        </where>
        order by reportTime desc
        <if test="start!=null and pageSize!=null">
            limit #{start},#{pageSize}
        </if>
    </select>
    <select id="getReportSearchAll" parameterType="Map" resultType="long">
        SELECT count(*) FROM report
        <where>
            <if test="reportSearch!=null and reportSearch!=''">
                reportTitle LIKE #{reportSearch}
                OR reportSummary LIKE #{reportSummary}
                OR DATE_FORMAT(reportTime,'%Y年%m月%d日') LIKE #{reportSearch}
                OR reportAuthor LIKE #{reportSearch}
            </if>
        </where>

    </select>
</mapper>